<h1>Home Page</h1>

<% if(locals.user){ %>
    <form action="/question/create" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type your question here..." required></textarea>
        <input type="submit" value="Ask">
    </form>
<% } %>

<ul>
    <% for(ques of questions){ %>
        <li>
            
            <p> 
                <%= ques.content %>
                <br>
                <small>
                    <%= ques.user.name %>
                </small>
            </p>
            
            <% if(locals.user){ %>
                <form action="answer/create" method="POST">
                    <textarea name="content" cols="30" rows="3" placeholder="Type your answer here..." required></textarea>
                    <input type="hidden" name="question_id" value="<%= ques._id %>">
                    <input type="submit" value="submit">
                </form>
            <%}%>
            

            <ul>
                <% for(ans of ques.answers){%>
                    <li>
                        <p> 
                            <%= ans.content %>
                            <br>
                            <small>
                                <%= ans.user.name %>
                            </small>
                        </p>
                    </li>
                <%}%>
            </ul>
        </li>
    <%}%>
</ul>